var config = {};

config.twilio = {};
// Twilio api credentials from dashbord
config.twilio.account_sid = '';
config.twilio.auth_token = '';
// Twilio sender number
config.twilio.from_number = '';

module.exports = config;
