<!DOCTYPE html>
<html manifest="appcache.manifest">
  <head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>COBI Ping</title>
    <link rel="stylesheet" href="cobi-style.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div id="experience" class="carousel">
      <div class="carousel-item">
        <ul id="list" class="cf">

          <li>
            <figure class="active">
              <div>
              <i>
                <svg style="margin-top: 30px;" width="130px" height="89px" viewBox="0 0 160 89" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
                    <g id="Bike" transform="translate(3.000000, -6.000000)" stroke-width="5" stroke="#FFFFFF">
                      <g id="Bicycles-/-Urban" transform="translate(0.318919, 0.000000)">
                        <g id="stroked">
                          <g id="Activities">
                            <g id="Cycle">
                              <ellipse id="Oval-786" cx="27.898137" cy="63.9797115" rx="27.898137" ry="27.590798"></ellipse>
                              <ellipse id="Oval-787" cx="125.539467" cy="63.9797115" rx="27.8959876" ry="27.590798"></ellipse>
                              <path d="M123.667094,10.4898383 L103.933686,66.0098264" id="Line" transform="translate(113.800390, 38.249832) rotate(-45.000000) translate(-113.800390, -38.249832) "></path>
                              <polyline id="Path-1839" stroke-linejoin="round" points="45.2513697 10.6275494 56.8997566 26.0726419 27.8870698 64.1781757 77.0587328 64.1781773 106.118947 26.4190927 56.2990666 26.4190927"></polyline>
                              <path d="M37.7454797,10.5 L55.8231518,10.5" id="Line"></path>
                              <path d="M101.069934,11.6325517 L117.53991,9.10740264" id="Line-4" stroke-linejoin="round"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </i>
              </div>
              <!-- 🚴 -->
              <figcaption>
                <h2 id="on-my-way">On My Way</h2>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <div>
                <i class="fa fa-flag fa-1x"></i>
                <!--🏁-->
              </div>
              <figcaption>
                <h2 id="almost-there">Almost there</h2>
              </figcaption>
            </figure>
          </li>

          <li>
            <figure>
              <div>
                <i class="fa fa-clock-o fa-1x"></i>
                <!--😳-->
              </div>
              <figcaption>
                <h2 id="running-late">Running Late</h2>
              </figcaption>
            </figure>
          </li>
          
          <li>
            <figure>
              <div>
                <i class="fa fa-map-marker fa-1x"></i>
              </div>
              <figcaption>
                <h2 id="im-here">I'm here</h2>
              </figcaption>
            </figure>
          </li>      

          <li>
            <figure>
              <div>
                <i class="fa fa-heart fa-1x"></i>
                <!--❤️--> 
              </div>
              <figcaption>
                <h2 id="love-place">Love this place</h2>
              </figcaption>
            </figure>
          </li>
          
          <li>
            <figure>
              <div>
                <i class="fa fa-volume-control-phone fa-1x"></i>
                <!--📞-->
              </div>
              <figcaption>
                <h2 id="call-me">Call me</h2>
              </figcaption>
            </figure>
          </li>         
        </ul>
      </div>
    </div>
    <div id="edit" class="content gray">
      <p class="content-padded text-center"><b>Ping</b> fires off text messages to your contacts via Thumb Controller.</p>
      <form class="input-group">
        <div class="input-row">
          <label>Sender name</label>
          <input id="senderInput" type="text" placeholder="An anonymous cyclist">
        </div>
      </form>
      <ul class="table-view">
        <li class="table-view-cell">Attach current location to SMS<label class="toggle"><input id="attachLocationToggle" type="checkbox"><div class="slider-circle round"></div></label></li>
      </ul>  
      <p class="content-padded text-center" style="font-size: small">Sourcecode on <a style="text-decoration: underline" target="_blank" href="https://github.com/cobi-bike/Module-Ping">Github</a></p>
    </div>  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="https://unpkg.com/i18next/i18next.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js'></script>
    <script src="https://cdn.cobi.bike/cobi.js/0.34.1/cobi.js"></script>
    <script src="config.js"></script>
    <script src="edit.js"></script>
    <script src="index.js"></script>
    <script src="carousel.js"></script>
  </body>
</html>
